@import "/css/nav.css";
@import "/css/buttons.css";
@import "/css/typo.css";

body {
    margin:0px;
}

/*SECTIONS*/

.container {
    width:99%;
    margin:0 auto;
    display:grid;
    grid-template-rows: 350px 100px 300px 200px 550px 420px 40px;
    grid-template-columns:280px 1fr 1fr;
    position:absolute;
    top:0;
    left:0;
    right:0;
    grid-template-areas: "hd hd hd" "wt wt wt" "as it it" "as pi pi" "as ct ct" "as pw pw" "ft ft ft";
}


.headerimg {
    grid-area: hd;
    background-image: url("/assets/header.jpg");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat; 
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    padding-left:35px;
    margin:0;
}

.weather {
    grid-area:wt;
}

#aside {
    grid-area:as;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-items:center;
    background-color:rgb(102, 123, 138);
    padding:0px auto;
}

.intro {
    grid-area:it;
    display:flex;
    flex-direction:row;
    justify-items:space-evenly;
    background-color:rgba(128, 128, 128, 0.164);
    padding-top:20px;
}

.postimg {
    grid-area:pi;
    display:grid;
    grid-template-rows:300px;
    grid-template-columns: 1fr 1fr 1fr;
}

.content {
    grid-area:ct;
    background-color:rgb(56, 52, 63);
    padding:10px 30px 10px 30px;
    color:white;
}

.preview {
    grid-area:pw;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:340px;
    background-color:rgb(56, 52, 63);
    padding:20px 15px 20px 15px;
}

#footer {
    grid-area:ft;
}

/*Elements*/

.featured {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    margin-top:20px;
    padding-right:10px;
}

.social {
    display:inline-block;
    margin:20px auto;
}

#badge{
    font-size:0.4em;
    background:transparent;
    vertical-align:super;
    padding:7px auto;
    margin-left:6px;
    color:white;
}

#caption1{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:white;
    font-family:'Montserrat';
    font-weight:300;
}

label {
    color:white;
    font-family:'Montserrat';
    font-weight:300;
    font-size:1.3em;
}

input {
    margin: 5px auto;
    background-color:silver;
    color:rgba(255, 255, 255, 0.616);
    height:25px;
    width:60%;
    border-radius:5px;
    border:none;
    padding:5px;
    font-family:'Montserrat';
}

form{
    justify-content:center;
    margin:20px auto;
}

#footer {
    background-color:rgb(43, 43, 44);
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    color:lightslategray;
    font-size:0.7em;
}

.card{
    height:380px;
    padding-top:0;
    background-color:rgb(56, 52, 63);
    margin:5px;
    border-radius:10px;
    box-shadow:2px 2px 10px rgb(37, 37, 46);
}

.card:hover{
    transform: scale(1.05);
}

#authorinfo{
    display:flex;
    height:50px;
    flex-direction: row-reverse;
    justify-content:flex-start;
    align-items:center;
}

#authname{
    height:30px;
    width:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-top:20px;
}

#authname >p {
    text-align:right;
    margin-top:-10px;
}

#blogtitle{
    color:rgb(251, 151, 151);
}


#blogtitle:hover{
    cursor:pointer;
    text-decoration:underline;
}

#coral{
    color:rgb(251, 151, 151);
    font-size:1.3em;
}
span {
    color:white; 
    font-family:'Montserrat';
    font-size:0.7em;
}

.active{
    color: rgb(251, 151, 151);;
}

#sign{
    font-family:'Nothing You Could Do', cursive;
    color:black;
    font-size:1.5em;
    margin:5px;   
}

.introtext > p{
    font-weight:400;
}

/*Images*/

#profimg {
    object-fit:fill;
    height:auto;
    width:270px;
    margin:30px;
    box-shadow:inset 2px 2px 10px gray, 2px 2px 10px rgba(128, 128, 128, 0.575);
    border-radius:12px;
    border:5px solid white;
}

#img1{
    background-image: url("/assets/dub1.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    height:300px;
    
}

#img2{
    background-image: url("/assets/dub3.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}    

#img3{
    background-image: url("/assets/dub2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}

#authimg{
    background-image:url("/assets/profile.jpg");
    background-size:contain;
    height:16px;
    width:18px;
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    border-radius:90px;
    margin-right:5px;
}


/* MEDIA QUERIES */

@media only screen and (max-width:768px) {
    
    .container {
    width:100%;
    display:grid;
    margin:0px;
    grid-template-rows: 300px 120px 670px 200px auto auto auto 40px;
    grid-template-columns: 100%;
    grid-template-areas: "hd" "wt" "it" "pi" "ct" "pw" "as" "ft"; 
    }

    .headerimg{
        background-image:linear-gradient(to top, rgba(141, 141, 143, 0.473), rgba(81, 81, 110, 0.712)), url("/assets/coast.jpg");
    }

    #badge{
        display:none;
    }

    .preview{   
        display:flex;
        flex-direction:column;
        background-color:rgb(56, 52, 63);
        padding:20px 15px 20px 15px;
    }


    .intro,.postimg,.content, .headerimg, .weather {
        max-width:100%;
    }

    .intro {
        flex-direction:column;
        margin-top:50px;
        padding-left:15px;
        padding-right:15px;
    }

    .introtext {
        padding:0px 10px 0px 10px;

    }

    .introtext > p {
        text-align:justify;
    }

    form {
        margin:10px;
    }

    #aside{
        text-align:center;
        margin-right:0px;
    }
    #footer{
        padding:10px;
    }

    #authimg{
        
    }
    
    #authname{
        height:30px;
        width:auto;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        padding-top:20px;
        font-size:0.7em;
    }
    
    #authname >p {
        text-align:left;
        margin-top:-10px;
    }

    #profimg {
        object-fit:fill;
        height:180px;
        width:80%;
    }

    #profile{
        display:flex;
        justify-content:center;
        align-items:center;
    }

    #navbar {
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        height:30px;
        width:100%;
        margin-right:5px;    
        position: absolute;
        top:0%; 
    }

    .heading > h1{
        font-size:2.6em;
    }

    .heading > h2 {
        font-size:1.4em;
    }

    h3{
        text-align:center;
        font-size:1.4em;
    }

    .heading{
        margin-top:45px;
    }

    .card {
        height:auto;
        padding:20px;
        margin:20px;
    }

    #footer {
        font-size:0.5em;
    }
}

@media only screen and (max-width:1025px) {
    .intro{
        margin-top:0px;
    }

    .container {
        width:100%;
        display:grid;
        margin:0px;
        grid-template-rows: 300px auto auto 200px auto auto auto 40px;
        grid-template-columns: 100%;
        }


    #profimg {
        object-fit:fill;
        height:auto;
        width:80%;
        }        

      
}
