#main {
    width:99%;
    height:100vh;
    display:grid;
    grid-template-rows: 350px 120px 310px 100px 100px 200px 350px 380px 40px;
    grid-template-columns:250px 1fr 1fr;
    position:absolute;
    top:0;
}


.headerimg {
    grid-area: 1/1/1/4;
    background-image: url("/assets/header.jpeg");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat; 
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    padding-left:35px;
    margin:0;
}

.heading > h1{
    color:white;
    font-size:4em;
    font-family:"Montserrat Alternates", sans-serif;
    text-shadow: 2px 2px 5px rgb(57, 56, 71);
}

.heading > h2 {
    color:rgb(251, 151, 151);
    font-family:"Montserrat", sans-serif;
    font-size:2em;
    text-shadow: 2px 2px 5px rgb(34, 33, 33);
}

h2 {
    font-family:"Montserrat Alternates", sans-serif;
    font-size:2em;
    color:rgb(35, 31, 48);
}

.weather {
    grid-area:2/1/2/4;

}

#aside {
    grid-area:3/1/9/1;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-items:center;
    background-color:rgb(102, 123, 138);
    margin-right:5px;
}

.intro {
    grid-area:3/2/3/4;
    display:flex;
    flex-direction:row;
    justify-items:space-evenly;
    background-color:rgba(128, 128, 128, 0.164);
    
}

.featured {
    grid-area:4/2/4/4;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    margin-top:20px;
    padding-right:10px;
}

.postimg {
    grid-area:5/2/6/4;
    display:grid;
    grid-template-rows:300px;
    grid-template-columns: 1fr 1fr 1fr;
}

.content {
    grid-area:7/2/8/4;
    background-color:rgb(56, 52, 63);
    padding:10px 30px 10px 30px;
    color:white;
}

.preview {
    grid-area:8/2/9/4;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:340px;
    background-color:rgb(56, 52, 63);
    padding:20px 15px 20px 15px;
}

#footer {
    grid-area:9/1/9/4;
}

li {
    list-style-type: none;
    margin:10px auto;
    text-align:left;
}

li > a {
    text-decoration:none;
    font-family:'Montserrat';
    color:rgb(250, 244, 244);
    font-size:0.8em;
}

a:hover {
    color:rgb(251, 151, 151);
}


#profimg {
    object-fit:fill;
    height:200px;
    width:270px;
    margin:30px;
}

h3 {
    font-family:'Montserrat Alternates', sans-serif;
    font-size:2em;
    color:rgb(35, 31, 48);
    margin-bottom:-3px;
}

p {
    font-family:'Montserrat', sans-serif;
    font-size:0.9em;
    line-height: 1.5em;
}

#img1{
    background-image: url("/assets/dub1.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
    height:300px;
    
}

#img2{
    background-image: url("/assets/dub3.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
}    

#img3{
    background-image: url("/assets/dub2.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
}

#continue, button {
    font-family:'Montserrat', sans-serif;
    background-color:rgb(102, 123, 138);
    border:none;
    padding:10px 15px 10px 15px;
    border-radius:15px;
    box-shadow: inset -2px 2px 5px rgba(192, 202, 248, 0.596), 2px -2px 5px rgba(66, 68, 77, 0.59);
    color:white;
    margin-top:10px;
}

#btn-cont {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social {
    display:inline-block;margin:20px auto;
}

#caption4{
    
    grid-area:1/1/1/1;
}

#caption3{
    
    grid-area:1/3/1/3;
}

#caption1, #caption2, #caption2, #caption4 {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:white;
    font-family:'Montserrat';
    font-weight:300;
}

label {
    color:white;
    font-family:'Montserrat';
    font-weight:300;
}

input {
    margin: 5px auto;
    background-color:silver;
    color:rgba(255, 255, 255, 0.616);
    height:25px;
    border-radius:5px;
    border:none;
    padding:5px;
    font-family:'Montserrat';
}

form{
    justify-content:center;
    margin:20px auto;
}

#footer {
    background-color:rgb(43, 43, 44);
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    color:lightslategray;
    font-size:0.7em;
}

.card{
    height:340px;
    padding-top:0;
    background-color:rgb(56, 52, 63);
    margin:3px;
    border-radius:10px;
    box-shadow:2px 2px 10px rgb(37, 37, 46);
}

.card:hover{
    transform: scale(1.1);
}


h4 {
    margin:10px auto;
    font-weight:400;
}

#authorinfo{
    display:flex;
    height:50px;
    flex-direction: row-reverse;
    justify-content:flex-start;
    align-items:center;
}

#authimg{
    background-image:url(/assets/profile.jpeg);
    background-size:contain;
    height:25px;
    width:25px;
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    border-radius:90px;
}

#authname{
    height:30px;
    width:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-top:20px;
}

#authname >p {
    text-align:right;margin-top:-10px;
}


#blogtitle:hover{
    color:rgb(251, 151, 151);
    cursor:pointer;
    text-decoration:underline;
}

#coral{
    color:rgb(251, 151, 151);
    font-size:1.3em;
}

#sub-btn {
    font-weight:bolder;
    letter-spacing:0.4em;
}

span {
    color:white; 
    font-family:'Montserrat';
    font-size:0.7em;
}

#subtitle {
    margin:-30px 0px 10px 5px;
}

#navbar {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    height:50px;
    width:100%;
    margin-right:5px;    
    position: absolute;
    top:2%; 
}

nav > li {
    margin:10px 25px 0px 0px;
    height:30px;
    padding:10px 10px 5px 10px;
    color:rgb(255, 202, 202);
    border-radius:5px;
    font-family:'Montserrat Alternates';
}

nav > li:hover {
    border:1px solid white;
}

.active{
    color:white;
}

#sign{
    font-family:'Nothing You Could Do', cursive;
    color:black;
    font-size:1.5em;
    margin:5px;
    
}